# Directorio instalación módulos
node_modules

# Directorio de librerías instaladas
public/lib

# Directorio de scripts JavaScript generados
public/js/build

# Directorio de hojas de estilo CSS generadas
public/style/css

# Directorio con el resultado de los tests de cobertura
coverage

# Logs y copias de seguridad
*.log
*~

# Archivos binarios temporales
*.pdf
public/scripts/*.png
