# Directorio instalación módulos
node_modules

# Directorio de librerías instaladas
public/lib

# Directorio de hojas de estilo CSS generadas
public/style/css

# Directorio con los archivos de datos generados
public/data

# Directorio con el resultado de los tests de cobertura
coverage

# Versión minificada de la aplicación
app.min.js

# Logs y copias de seguridad
*.log
*~

# Archivos binarios temporales
temp


# Configuración privada de Coveralls
.coveralls.yml
